# Import python libraries for data visualization and manupulation

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as pyplot 
import seaborn as sb

# Read the Train and Test File Since they are in CSV

In [2]:
Train = pd.read_csv('Train_v2.csv')
Test = pd.read_csv('Test_v2.csv')

In [3]:
submission = pd.read_csv('SubmissionFile.csv')
submission.head()

                uniqueid  bank_account
0  uniqueid_7867 x Kenya           1.0
1  uniqueid_6722 x Kenya           0.0
2  uniqueid_6714 x Kenya           1.0
3  uniqueid_8103 x Kenya           1.0
4  uniqueid_8657 x Kenya           1.0

In [88]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10086 entries, 0 to 10085
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   uniqueid      10086 non-null  object
 1   bank_account  10086 non-null  int32
dtypes: int32(1), object(1)
memory usage: 118.3+ KB

In [5]:
Train.head(3)

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed

In [72]:
clean_df_Train =  pd.get_dummies(Train, columns=['location_type','cellphone_access','gender_of_respondent','relationship_with_head','marital_status','education_level','job_type','country'])
clean_df_Train = clean_df_Train[["household_size", "age_of_respondent", "year"]].astype(float)
# Test_DF = Test_DF[["household_size", "age_of_respondent", "year"]]values.astype(float)

In [8]:
clean_df_Train.head(5)

,year,uniqueid,bank_account,household_size,age_of_respondent,location_type_Rural,location_type_Urban,cellphone_access_No,cellphone_access_Yes,gender_of_respondent_Female,...,job_type_Government Dependent,job_type_Informally employed,job_type_No Income,job_type_Other Income,job_type_Remittance Dependent,job_type_Self employed,country_Kenya,country_Rwanda,country_Tanzania,country_Uganda
0,2018,uniqueid_1,Yes,3,24,1,0,0,1,1,...,0,0,0,0,0,1,1,0,0,0
1,2018,uniqueid_2,No,5,70,1,0,1,0,1,...,1,0,0,0,0,0,1,0,0,0
2,2018,uniqueid_3,Yes,5,26,0,1,0,1,0,...,0,0,0,0,0,1,1,0,0,0
3,2018,uniqueid_4,No,5,34,1,0,0,1,1,...,0,0,0,0,0,0,1,0,0,0
4,2018,uniqueid_5,No,8,26,0,1,1,0,0,...,0,1,0,0,0,0,1,0,0,0

In [10]:
clean_df_Test =  pd.get_dummies(Test, columns=['location_type','cellphone_access','gender_of_respondent','relationship_with_head','marital_status','education_level','job_type','country'])

In [12]:
clean_df_Train.shape

(23524, 42)

In [13]:
X = clean_df_Train.drop(['uniqueid'],axis=1)

In [14]:
X = X.drop(['bank_account'],axis=1)

In [16]:
X.head(5)

,year,household_size,age_of_respondent,location_type_Rural,location_type_Urban,cellphone_access_No,cellphone_access_Yes,gender_of_respondent_Female,gender_of_respondent_Male,relationship_with_head_Child,...,job_type_Government Dependent,job_type_Informally employed,job_type_No Income,job_type_Other Income,job_type_Remittance Dependent,job_type_Self employed,country_Kenya,country_Rwanda,country_Tanzania,country_Uganda
0,2018,3,24,1,0,0,1,1,0,0,...,0,0,0,0,0,1,1,0,0,0
1,2018,5,70,1,0,1,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0
2,2018,5,26,0,1,0,1,0,1,0,...,0,0,0,0,0,1,1,0,0,0
3,2018,5,34,1,0,0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,2018,8,26,0,1,1,0,0,1,1,...,0,1,0,0,0,0,1,0,0,0

In [19]:
Train['bank_account']

0        Yes
1         No
2        Yes
3         No
4         No
        ...
23519     No
23520     No
23521     No
23522     No
23523     No
Name: bank_account, Length: 23524, dtype: object

In [20]:
from sklearn.preprocessing import LabelEncoder
# Convert target label to numerical Data
le = LabelEncoder()
Train['bank_account']  = le.fit_transform(Train['bank_account'])
y = Train['bank_account']
y

0        1
1        0
2        1
3        0
4        0
        ..
23519    0
23520    0
23521    0
23522    0
23523    0
Name: bank_account, Length: 23524, dtype: int32

In [21]:
X.head(3)

,year,household_size,age_of_respondent,location_type_Rural,location_type_Urban,cellphone_access_No,cellphone_access_Yes,gender_of_respondent_Female,gender_of_respondent_Male,relationship_with_head_Child,...,job_type_Government Dependent,job_type_Informally employed,job_type_No Income,job_type_Other Income,job_type_Remittance Dependent,job_type_Self employed,country_Kenya,country_Rwanda,country_Tanzania,country_Uganda
0,2018,3,24,1,0,0,1,1,0,0,...,0,0,0,0,0,1,1,0,0,0
1,2018,5,70,1,0,1,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0
2,2018,5,26,0,1,0,1,0,1,0,...,0,0,0,0,0,1,1,0,0,0

In [23]:
# import python machine learning libraries we need 
from sklearn.model_selection import train_test_split

In [104]:
# # To check the missing column in X 
# for column in X:
#     if column not in Test_DF:
#         print(Test_DF[column])

TypeError: unhashable type: 'numpy.ndarray'

In [26]:
# Test_DF = clean_df_Test

In [29]:
X_Train,X_Test,y_Train,y_Test = train_test_split(X,y,test_size = 0.2,random_state=42)

In [42]:
clean_df_Test = clean_df_Test.drop(["uniqueid"], axis=1)

In [43]:
clean_df_Test.head(5)

,year,household_size,age_of_respondent,location_type_Rural,location_type_Urban,cellphone_access_No,cellphone_access_Yes,gender_of_respondent_Female,gender_of_respondent_Male,relationship_with_head_Child,...,job_type_Government Dependent,job_type_Informally employed,job_type_No Income,job_type_Other Income,job_type_Remittance Dependent,job_type_Self employed,country_Kenya,country_Rwanda,country_Tanzania,country_Uganda
0,2018,3,30,0,1,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1,2018,7,51,0,1,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,2018,3,77,1,0,1,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
3,2018,6,39,1,0,1,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
4,2018,3,16,0,1,1,0,0,1,1,...,0,0,0,0,1,0,1,0,0,0

In [31]:
y_Train

12033    0
11888    0
20909    0
22785    0
14323    0
        ..
11964    0
21575    0
5390     1
860      1
15795    0
Name: bank_account, Length: 18819, dtype: int32

In [36]:
#import classifier algorithm here
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

# create models
RFC = RandomForestClassifier()
KNC = KNeighborsClassifier()
LR = LogisticRegression()
GNB = GaussianNB()
Treat = DecisionTreeClassifier()

#fitting the models
RFC.fit(X_Train,y_Train)
Treat.fit(X_Train,y_Train)
KNC.fit(X_Train,y_Train)
LR.fit(X_Train,y_Train)
GNB.fit(X_Train,y_Train)

GaussianNB()

In [37]:
# import evaluation metrics
from sklearn.metrics import accuracy_score,confusion_matrix

# evaluate the model
RFC_y_pred =  RFC.predict(X_Test)
KNC_y_pred =  KNC.predict(X_Test)
LR_y_pred =  LR.predict(X_Test)
GNB_y_pred =  GNB.predict(X_Test)

# Get error rate
print("Error rate of Random Forest classifier: ", 1 - accuracy_score(y_Test, RFC_y_pred ))
print("Error rate of KNeighbors Classifier: ", 1 - accuracy_score(y_Test, KNC_y_pred))
print("Error rate of LogisticRegression : ", 1 - accuracy_score(y_Test, LR_y_pred))
print("Error rate of GaussianNB classifier: ", 1 - accuracy_score(y_Test, GNB_y_pred))

Error rate of Random Forest classifier:  0.14537725823591918
Error rate of KNeighbors Classifier:  0.15855472901168965
Error rate of LogisticRegression :  0.1364505844845909
Error rate of GaussianNB classifier:  0.1364505844845909

In [49]:
Test.head(1)

,country,year,uniqueid,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_6056,Urban,Yes,3,30,Male,Head of Household,Married/Living together,Secondary education,Formally employed Government

In [47]:
clean_df_Test.head(2)

,year,household_size,age_of_respondent,location_type_Rural,location_type_Urban,cellphone_access_No,cellphone_access_Yes,gender_of_respondent_Female,gender_of_respondent_Male,relationship_with_head_Child,...,job_type_Government Dependent,job_type_Informally employed,job_type_No Income,job_type_Other Income,job_type_Remittance Dependent,job_type_Self employed,country_Kenya,country_Rwanda,country_Tanzania,country_Uganda
0,2018,3,30,0,1,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1,2018,7,51,0,1,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [99]:
# Get the predicted result for the test Data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(clean_df_Test)
Test.bank_account = GNB.predict(scaler.transform(clean_df_Test))
Test.bank_account

array([1, 1, 1, ..., 1, 1, 1])

In [100]:
# create submission DataFrame
sub = pd.DataFrame({'uniqueid': Test['uniqueid'] + " x "+ Test['country'], "bank_account" : Test.bank_account})
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10086 entries, 0 to 10085
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   uniqueid      10086 non-null  object
 1   bank_account  10086 non-null  int32
dtypes: int32(1), object(1)
memory usage: 118.3+ KB

In [101]:
# Create submission csv file csv file
sub.to_csv('sixth_submission.csv',index=False)